<% PAGE = {} %>
<% PAGE.Path = "forgottenPassword" %>
<% PAGE.Title = "Забравена парола" %>
<% PAGE.Description = "" %>
<% PAGE.Keywords = "" %>
<% PAGE.AdditionalCSS = ["forms"] %>
<% PAGE.NoJS = true %>
<html>

    <% include partials/head %>

    <body>

        <% include partials/nav %>

        <div id="Container">

            <form action="" method="post">

                <label>Потребителско име
                    <input type="text" name="Username" required>
                </label>

                <label>Email
                    <input type="email" name="Email" required>
                </label>

                <%if(typeof ChangeError != "undefined"){%>
                    <script>
                        swal({
                            title: "<%=ChangeError%>",
                            type: "error"
                        });
                    </script>
                <%}%>

                <%if(typeof Success != "undefined"){%>
                    <script>
                        swal({
                            title: "Email с линк за промяна на парола Ви е изпратен",
                            type: "success"
                        });
                    </script>
                <%}%>

                <input type="submit" value="Прати email" class="w-100 mb-3">

            </form>

        </div>

        <% include partials/footer %>

    </body>

</html>
