<% PAGE = {} %>
<% PAGE.Path = "ingredients" %>
<% PAGE.Title = "Продукти" %>
<% PAGE.Description = "Продуктите от базата данни на Energy, с информация за макронутриенти, гликемичен индекс и още. " %>
<% PAGE.Keywords = "макронутриенти, въглехидрати, мазнини, протеини, гликемичен, индекс, подходящи, продукти, ингредиенти, храни" %>
<% PAGE.AdditionalCSS = ["ingredients", "dataTable"] %>
<% PAGE.AdditionalJS = ["calc1Block", "getIngredientInfoFromTable", "showIngredientInfo"] %>
<% PAGE.useDataTables = true %>
<html>

    <% include partials/head %>

    <body class="Loading">

        <% include partials/nav %>

        <div id="Container">

            <h1>ПРОДУКТИ</h1>

            <div class="container-fluid"><div class="row">

                <div class="col-sm-12 col-md-8 col-lg-9">

                    <a class="Link" href="/article/5c5155a23249af2c7c55407f#3">Какво означава тази таблица?</a>

                    <table id="IngredientsTable" class="w-100">
                        <thead data-role="Header">
                            <th> Тип</th>
                            <th> Име</th>
                            <th> В 100g</th>
                            <th> м.е.</th>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>

                <div class="col-sm-0 col-md-4 col-lg-3" style="position: fixed; right: 0px">
                    <div id="Info" class="text-center">

                    </div>
                </div>

            </div></div>

        </div>

        <% include partials/footer %>

    </body>

</html>
