<% PAGE = {} %>
<% PAGE.Path = "profile" %>
<% PAGE.Title = "Профил" %>
<% PAGE.Description = "" %>
<% PAGE.Keywords = "" %>
<% PAGE.AdditionalCSS = ["profile", "ingredientTile", "list", "dataTable"] %>
<% PAGE.AdditionalJS = ["convertMeasures", "calc1Block", "calcHowManyBlocks", "calcIngredientType", "userTodayMeals", "userBlocksCalendar", "userProgressChart", "calcBodyMass", "userIngredients", "userDishes"] %>
<% PAGE.useDataTables = true %>
<% PAGE.useCalendar = true %>
<% PAGE.useCharts = true %>
<html>

    <% include partials/head %>

    <body>

        <% include partials/nav %>

        <div id="ToTop" class="fas fa-arrow-alt-circle-up"></div>

        <div id="Container">

            <div id="NavigationPane" class="d-flex flex-wrap justify-content-around align-content-around">

                <div id="BlocksArea">
                    <canvas id="BlocksChart"></canvas>
                </div>

                <div id="ProgressArea">
                    <canvas id="ProgressChart"></canvas>
                </div>

                <span class="d-none" id="blocksPerDay"><%=userInfo.BlocksPerDay%></span>
                <span class="d-none" id="username"><%=userInfo.Username%></span>
                <span class="d-none" id="email"><%=userInfo.hiddenEmail%> %></span>

            </div>

            <div class="Notification text-center" style="margin-bottom: 60px; padding-bottom: 30px; margin-top: 60px; padding-top: 30px; margin-left: 15px; margin-right: 15px">

                <div style="font-size: 1.5rem;" class="mb-2">Въпроси или препоръки за подобряване на Energy?</div>
                Свържете се с администратор: <a href='mailto: energyproject2019@mail.ru'>energyproject2019@mail.ru</a>

            </div>

        </div>

        <% include partials/footer %>

    </body>

</html>
